<div id='actors_list'>
	<h1>Actors</h1>
	<ul>
		<% @actors.each do |actor|%>
		<li><%= link_to(actor.full_name, name_path(actor.full_name)) %></li><br>
		<% end %>
	</ul>
	<div class='pagination_section'><p><%= paginate @actors %></p></div>
</div>
