<div id='actors_list'>
	<ul>
		<h1><%= @actor.full_name %></h1>
		<p><% @actor.movies.each do |movie| %>
			<li><%= link_to(movie.title, movie_path(movie) )%></li><br>
		<% end %>
		</p>
	</ul>
</div>