<h1>PRINCIPAL PAGE</h1>
<style>
body {
	background-color: black;
}
article {
	background-image: url('http://collectionofpicture.com/wp-content/uploads/2013/11/electro-music-wallpaper-116.jpg');
	background-size: 1300px 800px;
}
</style>
<ul>
	<p></p><li><a href="/movies">Movie list</a></li><p></p>
	<p></p><li><a href="/cast_members">Actors list</a></li><p></p>
	<p></p><li><a href="/categories">Categories list</a></li><p></p>
	<p></p><li><a href="/music">Portada music</a></li><p></p>
</ul>