<div class='song_show_items'>
	<ul>
		<% @tags.each do |tag| %>
			<h1><%= tag.name %></h1>
		<% end %>
		<% @tags.each do |tag| %>
			<% tag.artists.each do |artist| %>
				<li>
					<% if artist.songs == [] %>
					<% else %>
						<%= link_to(artist.name, artist_path(artist)) %>
					<% end %>
				</li><br>
			<%end%>
		<% end %>
	</ul>
</div>