/*=require foundation.css*/

/*reset css*/
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*############################################css######################################################*/

body{
    background-color: rgb(175, 197, 235);

}
img {
	width: 160px;
	height: 240px; 
}
article{
    margin: auto;
    width: 95%;
    background-color: rgb(255, 255, 255);
    padding: 5px 30px 30px 30px;
    min-height: 100%;    
}
footer {
    background-color: #333333;
    color: white;
    bottom: 0;
    height: auto;
    padding: 5px;

}
.footer_text{
    font-size: 24px;
    font-weight: bold;
    height: 30px;
}
.moverboton{
    float: right;
}
.category_form{
    max-width: 500px;0
}
.submit_category_search{
    display: block;
}
#menu {
	width:200px;
	height:165px;
	background-color: #00eeff;
	right: 1em;
	position:fixed;
	text-align: center;
	border-radius: 70px;
	padding: 0;
}

.rotate{
    width:153px;
    height:153px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    display:block;
    margin:20px;
    float:left;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */;
    position:relative;
    padding-left: 5px;
    -webkit-box-shadow:0px 0px 5px 0px rgba(246, 212, 163, 0.5) inset, 0px -1px 5px 4px rgba(170, 77, 27, 0.2) inset, 0px 0px 0px 7px #000,  0px 0px 1px 8px rgba(188, 188, 188, 0.4), 0px 0px 0px 9px #000;
    -moz-box-shadow:0px 0px 5px 0px rgba(246, 212, 163, 0.5) inset, 0px -1px 5px 4px rgba(170, 77, 27, 0.2) inset, 0px 0px 0px 7px #000,  0px 0px 1px 8px rgba(188, 188, 188, 0.4), 0px 0px 0px 9px #000;
    box-shadow:0px 0px 5px 0px rgba(246, 212, 163, 0.5) inset, 0px -1px 5px 4px rgba(170, 77, 27, 0.2) inset, 0px 0px 0px 7px #000,  0px 0px 1px 8px rgba(188, 188, 188, 0.4), 0px 0px 0px 9px #000;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.rotate span{
    display:table-cell;
    width:152px;
    height:152px;
    padding:20px;
    text-align:center;
    vertical-align:middle;
    font-size:30px;
    color:#fff;
    text-shadow:0px 1px 1px #A03F16;
    font-family:"Arvo", "Myriad Pro", "Trebuchet MS", sans-serif;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}

.rotate span:nth-child(1){
	opacity:1;
}

.rotate span:nth-child(2), 
.rotate span:nth-child(3){
    position:absolute;
    top:0px;
    left:0px;
    font-size:30px;
    line-height:36px;
    opacity:0;
}
.rotate span:nth-child(2){
    background:transparent url('http://fc03.deviantart.net/fs71/f/2012/040/2/3/batman_logo_3d_animation_by_syndikata_np-d4p71l4.gif') no-repeat center center;
    opacity:1;
    background-size:150px;
}
.rotate:hover{
    background-color: rgba(39, 209, 178, 0.7);
    -webkit-box-shadow:0px 0px 5px 0px rgba(246, 212, 163, 0.5) inset, 0px -1px 5px 4px rgba(170, 77, 27, 0.2) inset, 0px 0px 0px 7px #fff,  1px 4px 5px 8px rgba(188, 188, 188, 0.6), 0px 0px 0px 9px #fff;
    -moz-box-shadow:0px 0px 5px 0px rgba(246, 212, 163, 0.5) inset, 0px -1px 5px 4px rgba(170, 77, 27, 0.2) inset, 0px 0px 0px 7px #fff,  1px 4px 5px 8px rgba(188, 188, 188, 0.6), 0px 0px 0px 9px #fff;
    box-shadow:0px 0px 5px 0px rgba(246, 212, 163, 0.5) inset, 0px -1px 5px 4px rgba(170, 77, 27, 0.2) inset, 0px 0px 0px 7px #fff,  1px 4px 5px 8px rgba(188, 188, 188, 0.6), 0px 0px 0px 9px #fff;
}
.rotate:hover span:nth-child(3){
    opacity:1;
}
.rotate:hover span:nth-child(1){
    opacity: 0; 
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
}
.rotate:hover span:nth-child(2){
    -webkit-animation:rotate 1s linear;
    -moz-animation:rotate 1s linear;
    animation:rotate 1s linear;
}
.rotate:active{
    -webkit-box-shadow:0px 0px 5px 0px rgba(246, 212, 163, 0.5) inset, 0px -1px 5px 4px rgba(170, 77, 27, 0.2) inset, 0px 0px 0px 7px #fff,  0px -1px 0px 8px rgba(188, 188, 188, 0.3), 0px 0px 0px 10px #fff;
    -moz-box-shadow:0px 0px 5px 0px rgba(246, 212, 163, 0.5) inset, 0px -1px 5px 4px rgba(170, 77, 27, 0.2) inset, 0px 0px 0px 7px #fff,  0px -1px 0px 8px rgba(188, 188, 188, 0.3), 0px 0px 0px 10px #fff;
    box-shadow:0px 0px 5px 0px rgba(246, 212, 163, 0.5) inset, 0px -1px 5px 4px rgba(170, 77, 27, 0.2) inset, 0px 0px 0px 7px #fff,  0px -1px 0px 8px rgba(188, 188, 188, 0.3), 0px 0px 0px 10px #fff;
}
.rotate:active span:nth-child(1){
    color:rgba(170, 77, 27, 0.8);
    text-shadow:0px 1px 1px rgba(255, 255, 255, 0.6);
}



/*SONG BUTTON*/

.rotate_song{
    width:153px;
    height:153px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    display:block;
    margin:20px;
    float:left;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-1%,rgba(0,87,0,1)), color-stop(0%,rgba(180,221,180,1)), color-stop(0%,rgba(0,138,0,1)), color-stop(0%,rgba(0,87,0,1)), color-stop(0%,rgba(0,87,0,1)), color-stop(1%,rgba(0,138,0,1)), color-stop(1%,rgba(0,138,0,1)), color-stop(42%,rgba(0,138,0,1)), color-stop(59%,rgba(82,177,82,1)), color-stop(61%,rgba(82,177,82,1)), color-stop(95%,rgba(131,199,131,1)), color-stop(95%,rgba(131,199,131,1))); /* Chrome,Safari4+ */
    position:relative;
    padding-left: 5px;
    -webkit-box-shadow:0px 0px 5px 0px rgba(246, 212, 163, 0.5) inset, 0px -1px 5px 4px rgba(170, 77, 27, 0.2) inset, 0px 0px 0px 7px #000,  0px 0px 1px 8px rgba(188, 188, 188, 0.4), 0px 0px 0px 9px #000;
    -moz-box-shadow:0px 0px 5px 0px rgba(246, 212, 163, 0.5) inset, 0px -1px 5px 4px rgba(170, 77, 27, 0.2) inset, 0px 0px 0px 7px #000,  0px 0px 1px 8px rgba(188, 188, 188, 0.4), 0px 0px 0px 9px #000;
    box-shadow:0px 0px 5px 0px rgba(246, 212, 163, 0.5) inset, 0px -1px 5px 4px rgba(170, 77, 27, 0.2) inset, 0px 0px 0px 7px #000,  0px 0px 1px 8px rgba(188, 188, 188, 0.4), 0px 0px 0px 9px #000;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.rotate_song span{
    display:table-cell;
    width:152px;
    height:152px;
    padding:20px;
    text-align:center;
    vertical-align:middle;
    font-size:30px;
    color:#fff;
    text-shadow:0px 1px 1px #A03F16;
    font-family:"Arvo", "Myriad Pro", "Trebuchet MS", sans-serif;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}

.rotate_song span:nth-child(1){
    opacity:1;
}

.rotate_song span:nth-child(2), 
.rotate_song span:nth-child(3){
    position:absolute;
    top:0px;
    left:0px;
    font-size:30px;
    line-height:36px;
    opacity:0;
}
.rotate_song span:nth-child(2){
    background:transparent url('http://static.tumblr.com/2dea32491f7c0155e2da4b10c9283487/1rbjzdn/cbZn7evtg/tumblr_static_5afzy9gguvgookosok8wc4goo.gif') no-repeat center center;
    opacity:1;
    background-size:117px;
}
.rotate_song:hover{
    background: rgba(0, 123, 0, 1);
    -webkit-box-shadow:0px 0px 5px 0px rgba(0, 83, 0, 1) inset, 0px -1px 5px 4px rgba(0, 83, 0, 1) inset, 0px 0px 0px 7px rgba(0, 83, 0, 1),  1px 4px 5px 8px #fff, 0px 0px 0px 9px rgba(0, 83, 0, 1);
    -moz-box-shadow:0px 0px 5px 0px rgba(0, 83, 0, 1) inset, 0px -1px 5px 4px rgba(0, 83, 0, 1) inset, 0px 0px 0px 7px rgba(0, 83, 0, 1),  1px 4px 5px 8px #fff, 0px 0px 0px 9px rgba(0, 83, 0, 1);
    box-shadow:0px 0px 5px 0px rgba(0, 83, 0, 1) inset, 0px -1px 5px 4px rgba(0, 83, 0, 1) inset, 0px 0px 0px 7px rgba(0, 83, 0, 1),  1px 4px 5px 8px #fff, 0px 0px 0px 9px rgba(0, 83, 0, 1);
}
.rotate_song:hover span:nth-child(3){
    opacity:1;
}
.rotate_song:hover span:nth-child(1){
    opacity: 0; 
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
}
.rotate_song:hover span:nth-child(2){
    -webkit-animation:rotate 1s linear;
    -moz-animation:rotate 1s linear;
    animation:rotate 1s linear;
}
.rotate_song:active{
    -webkit-box-shadow:0px 0px 5px 0px rgba(246, 212, 163, 0.5) inset, 0px -1px 5px 4px rgba(170, 77, 27, 0.2) inset, 0px 0px 0px 7px #fff,  0px -1px 0px 8px rgba(188, 188, 188, 0.3), 0px 0px 0px 10px #fff;
    -moz-box-shadow:0px 0px 5px 0px rgba(246, 212, 163, 0.5) inset, 0px -1px 5px 4px rgba(170, 77, 27, 0.2) inset, 0px 0px 0px 7px #fff,  0px -1px 0px 8px rgba(188, 188, 188, 0.3), 0px 0px 0px 10px #fff;
    box-shadow:0px 0px 5px 0px rgba(246, 212, 163, 0.5) inset, 0px -1px 5px 4px rgba(170, 77, 27, 0.2) inset, 0px 0px 0px 7px #fff,  0px -1px 0px 8px rgba(188, 188, 188, 0.3), 0px 0px 0px 10px #fff;
}
.rotate_song:active span:nth-child(1){
    background-color: rgba(0, 123, 0, 1);
    text-shadow:0px 1px 1px rgba(255, 255, 255, 0.6);
}
@keyframes rotate{
    0% { transform: scale(1) rotate(0);}
    50% { transform: scale(0.5) rotate(180deg);}
    100% { transform: scale(1) rotate(360deg);}
}
@-webkit-keyframes rotate{
    0% { -webkit-transform: scale(1) rotate(0);}
    50% { -webkit-transform: scale(0.5) rotate(180deg);}
    100% { -webkit-transform: scale(1) rotate(360deg);}
}
@-moz-keyframes rotate{
    0% { -moz-transform: scale(1) rotate(0);}
    50% { -moz-transform: scale(0.5) rotate(180deg);}
    100% { -moz-transform: scale(1) rotate(360deg);}
}







































.pagination {
  display: block;
  min-height: 1.5rem;
  margin-left: -0.3125rem; }
.pagination span {
height: 1.5rem;
color: #222222;
font-size: 0.875rem;
margin-left: 0.3125rem; }
.pagination span a, .pagination span button, .pagination span.page.current {
  display: block;
  padding: 0.0625rem 0.625rem 0.0625rem;
  color: #999999;
  background: none;
  border-radius: 3px;
  font-weight: normal;
  font-size: 1em;
  line-height: inherit;
  transition: background-color 300ms ease-out; }
.pagination span:hover a,
.pagination span a:focus, .pagination span:hover button,
.pagination span button:focus {
  background: #e6e6e6; }
.pagination span.unavailable a, .pagination span.unavailable button {
  cursor: default;
  color: #999999; }
.pagination span.unavailable:hover a, .pagination span.unavailable a:focus, .pagination span.unavailable:hover button, .pagination span.unavailable button:focus {
  background: transparent; }
.pagination span.page.current , .pagination span.page.current button {
  background: #008cba;
  color: white;
  font-weight: bold;
  cursor: default; }
.pagination span.page.current :hover, .pagination span.page.current :focus, .pagination span.page.current button:hover, .pagination span.page.current button:focus {
    background: #008cba; }
.pagination span {
    float: left;
    display: block; }